main {
    background-image: url(../img/jcu-canteen.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -150px;
}

.main__darkener {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
}

main .container {
    padding-top: 30px;
    padding-bottom: 30px
}

main h1 {
    color: white;
    font-size: 32px;
    text-align: center;
}

.food-stalls {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 600px;
    gap: 50px;
    justify-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 0;
}

.card {
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.food-stalls__item {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.food-stalls__item h2 {
    font-size: 24px;
    color: #FFF;
    position: relative;
    z-index: 2;
}

.food-stalls__item_darkener {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.3);
}

