header {
    height: 86px;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header img  {
    width: 130px;
    height: 66px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.nav-bar a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 15px;
}

