<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Owner</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/add.css">
</head>

<body>
    <form action="{{ request.path }}" method="post">

        <div class="container">
            <label class="form__name" for="name">Add owner</label>
            <input class="form__input" type="text" name="username" placeholder="Username" />
            <input class="form__input" type="text" name="password" placeholder="Password" />
            <select class="form__select" name="chosen_stall" method="GET" action="/">
                <option selected>Choose a stall</option>
                {% for stall in stalls %}
                <option value="{{ stall.stall_id }}">{{ stall.name }}</option>
                {% endfor %}
            </select>
            <button class="form__submit" type="submit" value="Submit">Submit</button>
            <div class="owners">
                <div class="owners__item">
                    {% for owner in owners %}
                    <form action="{{ url_for('delete_owner', owner_id=owner.user_id) }}">
                        <a>{{ owner.user_id }}</a>
                        <a>{{ owner.stall_id }}</a>
                        <input type="submit" value="Delete">
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>

    </form>

</body>

</html>