{% extends 'layout.html' %}
{% block content %}
<main style="background-color: #1f2223; background-image: none;">
    <div class="all-stalls__container">
        {% for stall in stalls %}
        <div class="card-stalls">
            <div class="card-img" style="background-image: url('data:;base64,{{ stall.img }}');"></div>
            <div class="card-body">
                <h2>{{ stall.name }}</h2>
                <div class="bard-body__buttons">
                    <a class="card-body__button" href="{{ url_for('add_dish', stall_id = stall.stall_id) }}"
                        style="margin-right: 10px;">Edit</a>
                    <a class="card-body__button danger"
                        href="{{ url_for('delete_stall', stall_id = stall.stall_id) }}">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}