{% extends 'layout.html' %}
{% block content %}
    <main>
        <!-- TODO -->
        <!-- 1. Create a blur effect in background image -->
        <!-- 2. Add animation and shadows to stalls items -->
        <!-- 3. Make stalls items clickable -->
        <!-- 4. Add JCU footer -->
        <div class="main__darkener">
            <div class="container">
                <h1>Canteen Food Stalls</h1>
                <div class="food-stalls">
                    {% for stall in stalls %}
                            <a href="{{ url_for('menu', stall_id = stall.stall_id) }}">
                                <div class="food-stalls__item"
                                     style="background-image: url('data:;base64,{{ stall.img }}')">
                                    <div class="food-stalls__item__darkener">
                                        <h2>{{ stall.name }}</h2>
                                    </div>
                                </div>
                            </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}

