<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASE project</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<header>
    <div class="container">
        <div class="header">
            <img src="../static/img/jcu-logo.png" alt="">
            <ul class="nav-bar">
                <li class="nav-bar__item"><i class="fa-solid fa-cart-shopping"></i></li>
                <li class="nav-bar__item"><a href="{{ url_for('settings') }}">Settings</a></li>
                <li class="nav-bar__item"><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </div>
</header>

{% block content %}

{% endblock %}

<div class="jcu_footer__wrapper upper snipcss-TbvFp">
    <div class="jcu_footer__inner">
        <div class="footer__social-media">
            <div class="social-media">
              <span>
                <a href="https://www.facebook.com/jcu.singapore.fanpage/" target="_blank" class="icon snip-a"
                   title="Go to JCU Facebook">
                  <span class="sr-only visuallyhidden">
                    JCU Facebook icon
                  </span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"
                       class="footer__social-media-icon">
                    <path fill="" fill-rule="evenodd"
                          d="M15.746 8.325H14.57c-.923 0-1.102.44-1.102 1.082v1.419h2.2l-.286 2.222h-1.914v5.702h-2.295v-5.702H9.255v-2.222h1.918V9.187c0-1.902 1.162-2.937 2.858-2.937.813 0 1.511.06 1.715.088v1.987zM0 25h25V0H0v25z">
                    </path>
                  </svg>
                </a>
              </span>
                <span>
                <a href="https://www.instagram.com/jcusingapore/" class="icon snip-a" target="_blank"
                   title="Go to JCU Instagram">
                  <span class="sr-only visuallyhidden">
                    JCU Instagram icon
                  </span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25"
                       class="footer__social-media-icon">
                    <g fill="" fill-rule="evenodd">
                      <path d="M17.246 12.514a3.802 3.802 0 0 1-7.605 0c0-.347.047-.683.135-1.003h-1.17v5.436c0 .193.157.35.35.35h8.974a.35.35 0 0 0 .35-.35v-5.436h-1.17c.089.32.136.656.136 1.003M16.211 10.058h1.69a.35.35 0 0 0 .35-.349V8.023a.35.35 0 0 0-.35-.349h-1.69a.35.35 0 0 0-.35.349v1.686a.35.35 0 0 0 .35.349">
                      </path>
                      <path d="M13.443 14.912a2.401 2.401 0 0 0 2.404-2.398 2.401 2.401 0 0 0-2.404-2.398 2.401 2.401 0 0 0-2.404 2.398 2.401 2.401 0 0 0 2.404 2.398">
                      </path>
                      <path d="M19.679 17.267c0 .819-.665 1.483-1.486 1.483H8.665c-.82 0-1.486-.664-1.486-1.483V7.732c0-.819.665-1.482 1.486-1.482h9.528c.82 0 1.486.663 1.486 1.482v9.535zM.929 25h25V0h-25v25z">
                      </path>
                    </g>
                  </svg>
                </a>
              </span>
                <span>
                <a href="https://www.tiktok.com/@jcusingapore" class="icon snip-a" target="_blank"
                   title="Go to JCU TikTok">
                  <span class="sr-only visuallyhidden">
                    JCU TikTok icon
                  </span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25"
                       class="footer__social-media-icon">
                    <path fill="" fill-rule="evenodd"
                          d="M0 25h25V0H0v25ZM15.207 5.565c.228 1.955 1.319 3.12 3.216 3.244v2.199c-1.1.107-2.063-.252-3.183-.93v4.112c0 5.224-5.694 6.856-7.984 3.112-1.471-2.409-.57-6.637 4.149-6.807v2.319c-.359.058-.744.149-1.095.269-1.05.355-1.645 1.02-1.479 2.194.318 2.248 4.442 2.914 4.099-1.48V5.569h2.277v-.004Z">
                    </path>
                  </svg>
                </a>
              </span>
                <span>
                <a href="https://twitter.com/jcu_singapore" class="icon snip-a" target="_blank"
                   title="Go to JCU Twitter">
                  <span class="sr-only visuallyhidden">
                    JCU Twitter icon
                  </span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25"
                       class="footer__social-media-icon">
                    <path fill="" fill-rule="evenodd"
                          d="M18.327 9.95c.005.11.008.221.008.333 0 3.388-2.58 7.296-7.297 7.296a7.261 7.261 0 0 1-3.93-1.152 5.144 5.144 0 0 0 3.797-1.063 2.567 2.567 0 0 1-2.397-1.78 2.587 2.587 0 0 0 1.159-.044 2.565 2.565 0 0 1-2.058-2.514v-.033c.346.192.742.308 1.162.321a2.564 2.564 0 0 1-.794-3.424 7.281 7.281 0 0 0 5.286 2.68 2.565 2.565 0 0 1 4.37-2.34 5.132 5.132 0 0 0 1.629-.621 2.577 2.577 0 0 1-1.128 1.418 5.146 5.146 0 0 0 1.473-.404 5.22 5.22 0 0 1-1.28 1.328zM.857 25h25V0h-25v25z">
                    </path>
                  </svg>
                </a>
              </span>
                <span>
                <a href="https://www.linkedin.com/school/james-cook-university-australia-singapore-campus/"
                   class="icon snip-a" target="_blank" title="Go to JCU LinkedIn">
                  <span class="sr-only visuallyhidden">
                    JCU LinkedIn icon
                  </span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25"
                       class="footer__social-media-icon">
                    <path fill="" fill-rule="evenodd"
                          d="M19.536 18.738h-2.59v-4.053c0-.966-.017-2.21-1.346-2.21-1.348 0-1.553 1.054-1.553 2.141v4.122h-2.588v-8.334h2.483v1.14h.036c.345-.656 1.19-1.347 2.45-1.347 2.623 0 3.108 1.726 3.108 3.97v4.571zM8.539 9.266a1.502 1.502 0 1 1-.002-3.004 1.502 1.502 0 0 1 .002 3.004zm1.295 9.472H7.241v-8.334h2.593v8.334zM.786 25h25V0h-25v25z">
                    </path>
                  </svg>
                </a>
              </span>
                <span>
                <a href="https://www.youtube.com/user/jcusingaporevideo" class="icon snip-a" target="_blank"
                   title="Go to JCU Youtube">
                  <span class="sr-only visuallyhidden">
                    JCU Youtube icon
                  </span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25"
                       class="footer__social-media-icon">
                    <g fill="" fill-rule="evenodd">
                      <path d="M11.924 14.121l3.377-1.75-3.378-1.762z">
                      </path>
                      <path d="M19.464 12.972c0 1.012-.125 2.023-.125 2.023s-.122.861-.497 1.24c-.475.499-1.007.5-1.252.53-1.75.126-4.376.13-4.376.13s-3.25-.03-4.25-.125c-.278-.052-.903-.036-1.378-.534-.375-.38-.497-1.24-.497-1.24s-.125-1.012-.125-2.024v-.949c0-1.011.125-2.022.125-2.022s.122-.862.497-1.242c.475-.497 1.008-.5 1.253-.529 1.749-.126 4.373-.126 4.373-.126h.005s2.624 0 4.373.126c.245.03.777.032 1.252.53.375.38.497 1.24.497 1.24s.125 1.012.125 2.023v.949zM.714 25h25V0h-25v25z">
                      </path>
                    </g>
                  </svg>
                </a>
              </span>
            </div>
        </div>
        <div class="footer__links-wrapper">
            <div class="footer__column-links">
                <a href="https://www.jcu.edu.sg/about-us" class="footer_nav_category-header snip-a">
                    About JCU
                </a>
                <ul>
                    <li class="">
                        <a href="https://www.jcu.edu.sg/about-us/facts-And-figures" class="footer_nav_link snip-a">
                            Facts &amp; figures
                        </a>
                    </li>
                    <li class="">
                        <a href="https://www.jcu.edu.sg/current-students/campus-maps-And-information/contact-us"
                           class="footer_nav_link snip-a">
                            Contact Us
                        </a>
                    </li>
                    <li class="">
                        <a href="https://www.jcu.edu.sg/about-us/statement-of-strategic-intent"
                           class="footer_nav_link snip-a">
                            Statement of Strategic Intent
                        </a>
                    </li>
                    <li class="">
                        <a href="https://careers.jcu.edu.sg/cw/en/listing" class="footer_nav_link snip-a">
                            Careers
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__column-links">
                <a href="https://www.jcu.edu.sg/news" class="footer_nav_category-header snip-a">
                    News
                </a>
                <ul>
                    <li class="">
                        <a href="https://www.jcu.edu.sg/news" class="footer_nav_link snip-a">
                            Newsroom
                        </a>
                    </li>
                    <li class="">
                        <a href="https://www.jcu.edu.sg/events" class="footer_nav_link snip-a">
                            Events
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__column-links">
                <a href="https://www.jcu.edu.sg/staff" class="footer_nav_category-header snip-a">
                    Staff
                </a>
                <ul>
                    <li class="">
                        <a href="https://staff.jcu.edu.au/" class="footer_nav_link snip-a">
                            Staff Email
                        </a>
                    </li>
                    <li class="">
                        <a href="https://eservices.stoneforestaccounts.com.sg/PRSLogin.asp"
                           class="footer_nav_link snip-a">
                            eACCPAY
                        </a>
                    </li>
                    <li class="">
                        <a href="https://portal.jcu.edu.sg" class="footer_nav_link snip-a">
                            Intranet
                        </a>
                    </li>
                    <li class="">
                        <a href="https://afm.jcu.edu.sg/JCU/security/index.aspx" class="footer_nav_link snip-a">
                            Facilities Booking
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__column-links">
                <a href="https://www.jcu.edu.sg/current-students/student-support-services/library-services"
                   class="footer_nav_category-header snip-a">
                    Library
                </a>
                <ul>
                    <li class="">
                        <a href="https://www.jcu.edu.sg/current-students/student-support-services/library-services"
                           class="footer_nav_link snip-a">
                            Library
                        </a>
                    </li>
                    <li class="">
                        <a href="https://researchonline.jcu.edu.au/" class="footer_nav_link snip-a">
                            ResearchOnline@JCU
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__column-links">
                <div class="footer_nav_category-header">
                    Contact
                </div>
                <ul>
                    <li class="">
                        <a href="https://www.jcu.edu.sg/current-students/campus-maps-And-information/contact-us"
                           class="footer_nav_link snip-a">
                            Contact Us
                        </a>
                    </li>
                    <li class="">
                        <a href="https://www.jcu.edu.sg/current-students/campus-maps-And-information"
                           class="footer_nav_link snip-a">
                            Campus Maps
                        </a>
                    </li>
                    <li class="">
                        <a href="https://www.jcu.edu.sg/current-students/campus-maps-And-information/virtual-campus-tour"
                           class="footer_nav_link snip-a">
                            Virtual Campus Tour
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="jcu_footer__wrapper lower snipcss0-0-0-1 snipcss-Ir5Z7 tether-target-attached-top tether-element-attached-top tether-element-attached-center tether-target-attached-center">
    <div class="jcu_footer__inner snipcss0-1-1-2">
        <div class="footer__legal snipcss0-2-2-3">
            <div class="footer__universities snipcss0-3-3-4">
                <ul class="footer_university-logos snipcss0-4-4-5">
                    <li class="snipcss0-5-5-6">
                        <a href="http://www.jcu.edu.au" title="JCU Australia" class="snipcss0-6-6-7 snip-a">
                            <img src="https://www.jcu.edu.sg/__data/assets/image/0014/239/varieties/footer.png"
                                 loading="lazy" alt="James Cook University footer Logo" class="snipcss0-7-7-8 snip-img">
                        </a>
                    </li>
                    <li class="snipcss0-5-5-9">
                        <div class="footer__singapore-tagline snipcss0-6-9-10">1 university • 2 countries • 4 distinct
                            locations
                        </div>
                        <div class="footer__singapore-tagline-sub snipcss0-6-9-11">Creating a brighter future for life
                            in the tropics world-wide through graduates and discoveries that make a difference.
                        </div>
                    </li>
                </ul>

            </div>
            <div class="footer_certifications snipcss0-3-3-12">
                <ul class="footer_certification-logos snipcss0-4-12-13">
                    <li class="snipcss0-5-13-14">
                        <a href="http://stateofthetropics.org/" title="State of the tropics"
                           class="snipcss0-6-14-15 snip-a">
                            <img src="../static/img/st.png" loading="lazy" alt="State of the Tropics logo"
                                 class="snipcss0-7-15-16 snip-img">
                        </a>
                    </li>
                    <li class="snipcss0-5-13-17">
                        <a href="https://www.enterprisesg.gov.sg/quality-standards/-/media/31991386654544d299cb79710900773f.ashx#page=8"
                           title="Singapore Quality Class Star" class="snipcss0-6-17-18 snip-a">
                            <img src="https://www.jcu.edu.sg/__data/assets/image/0007/1073437/varieties/footer.png"
                                 loading="lazy" alt="JCU" class="snipcss0-7-18-19 snip-img">
                        </a>
                    </li>
                    <li class="snipcss0-5-13-20">
                        <a href="https://www.ssg.gov.sg/cpe/pei.html" title="Edutrust Singapore Star"
                           class="snipcss0-6-20-21 snip-a">
                            <img src="../static/img/footer.png" loading="lazy" alt="Singapore Quality Class Logo"
                                 class="snipcss0-7-21-22 snip-img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__business snipcss0-2-2-23">
            <div class="jcu__footer-copyright snipcss0-3-23-24">

                <p class="snipcss0-4-24-25">Last updated 24th August 2016</p>

                <p class="snipcss0-4-24-26">James Cook University Australia offers pathway, undergraduate and
                    postgraduate programs at the Singapore campus of James Cook University.</p>
                <ul class="snipcss0-4-24-27">
                    <li class="snipcss0-5-27-28"><span class="footer_business_info snipcss0-6-28-29 snip-span">James Cook University</span>
                    </li>
                    <li class="snipcss0-5-27-30"><span class="footer_business_info snipcss0-6-30-31 snip-span">149 Sims Drive, S(387380)</span>
                    </li>
                    <li class="snipcss0-5-27-32"><span class="footer_business_info snipcss0-6-32-33 snip-span">CPE Registration No. 200100786K</span>
                    </li>
                    <li class="snipcss0-5-27-34"><span class="footer_business_info snipcss0-6-34-35 snip-span">Period of Registration: 13 July 2022 to 12 July 2026</span>
                    </li>

                </ul>
            </div>
            <div class="jcu__footer-disclaimer snipcss0-3-23-36">
                <ul class="snipcss0-4-36-37">
                    <li class="footer_business_link snipcss0-5-37-38"><a href="https://www.jcu.edu.sg/feedback"
                                                                         class="snipcss0-6-38-39 snip-a">Feedback</a>
                    </li>
                    <li class="footer_business_link snipcss0-5-37-40"><a href="https://www.jcu.edu.sg/terms-of-use"
                                                                         class="snipcss0-6-40-41 snip-a">Terms of
                        use</a></li>
                    <li class="footer_business_link snipcss0-5-37-42"><a href="https://www.jcu.edu.sg/privacy"
                                                                         class="snipcss0-6-42-43 snip-a">Privacy
                        Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script src="https://kit.fontawesome.com/e80e54bf1e.js" crossorigin="anonymous"></script>
</body>
</html>