{% extends 'layout.html' %}
{% block content %}

<main>
    <div class="menu">
        <div class="main__darkener">
            <div class="container">
                <h1>Menu</h1>
    
                <div class="main-menu">
                    <div class="menu__item">
                        <h2>Hotplate Chicken Set</h2>
                        <h3>Add</h3>
                        <p>$6</p>
                        <div class="darkener"></div>
                        <div class="dark-blue-circle"></div>
                        <div class="blue-box"></div>
                        <div class="blue-oval"></div>
                    </div>
        
                    <div class="menu__item">
                        <h2>Hotplate Chicken Set</h2>
                        <h3>Add</h3>
                        <p>$6</p>
                        <div class="darkener"></div>
                        <div class="dark-blue-circle"></div>
                        <div class="blue-box"></div>
                        <div class="blue-oval"></div>
                    </div>
    
                    <div class="menu__item">
                        <h2>Hotplate Chicken Set</h2>
                        <h3>Add</h3>
                        <p>$6</p>
                        <div class="darkener"></div>
                        <div class="dark-blue-circle"></div>
                        <div class="blue-box"></div>
                        <div class="blue-oval"></div>
                    </div>
    
                    <div class="menu__item">
                        <h2>Hotplate Chicken Set</h2>
                        <h3>Add</h3>
                        <p>$6</p>
                        <div class="darkener"></div>
                        <div class="dark-blue-circle"></div>
                        <div class="blue-box"></div>
                        <div class="blue-oval"></div>
                    </div>
    
                    <div class="menu__item">
                        <h2>Hotplate Chicken Set</h2>
                        <h3>Add</h3>
                        <p>$6</p>
                        <div class="darkener"></div>
                        <div class="dark-blue-circle"></div>
                        <div class="blue-box"></div>
                        <div class="blue-oval"></div>
                    </div>
    
                    <div class="menu__item">
                        <h2>Hotplate Chicken Set</h2>
                        <h3>Add</h3>
                        <p>$6</p>
                        <div class="darkener"></div>
                        <div class="dark-blue-circle"></div>
                        <div class="blue-box"></div>
                        <div class="blue-oval"></div>
                    </div>
                </div>
            </div>
        </div>
    
        
    </div>
</main>
{% endblock %}