{% extends 'layout.html' %}
{% block content %}

    <main>
        <div class="menu">
            <div class="main__darkener">
                <div class="container">
                    <h1>Menu</h1>
                    <div class="main-menu">
                        {% for dish in dishes %}
                            <div class="card">
                                <div class="card__image" style="background-image: url('data:;base64,{{ dish.img }}')">
                                    <p class="card__image_text">{{ dish.name }}</p>
                                    <div class="card__image_price-tag">
                                        <p class="price-tag__price">${{ dish.price }}</p>
                                    </div>
                                    <div class="card__image_darkener"></div>
                                </div>
                                <a href="#" class="card__add">
                                    <p class="card__add_text">Add</p>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>


        </div>
    </main>
{% endblock %}